{:port 3006
 :private-addr "127.0.0.1"          ;; used for prod mode
 :private-user-agent "Chromium xyz" ;; used for prod mode
 :substack {:external-substacks []}
 :dev? true
 :db {:dbtype "sqlite"
      :dbname "./rhizome.db"}
 :folders {:homefolder "./files/"},
 :semsearch {:ollama-url "http://127.0.0.1:11434"
             :ollama-model "nomic-embed-text"}}
