{:port 3006
 :chat-gpt-token { 
    :token "abc"
    :prompt "You are a professional summary writer who delivers executive summaries of essays to CEOs. Every input will be an essay. Please summarize in 2 paragraphs."
    :model "gpt-3.5-turbo-0125"
 }
 :db 
 {:dbtype   "postgresql"
  :dbname   ""
  :user     ""
  :password ""
  :port     5432
  :hostname "127.0.0.1"
  :dev? true
  :private-addr "b"}}
 