{:port 3006
 :private-addr "127.0.0.1"
 :private-user-agent "Chromium xyz"
 :substack {:external-substacks []}
 :dev? true
 :db {:dbtype "sqlite"
      :dbname "./rhizome.db"}
 :folders {:homefolder "/Users/daniel/"}}
