<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg - MDC{ %mdc } %n</pattern>
      <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg { %mdc }%n</pattern> -->
    </encoder>
  </appender>
  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>tracker.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>tracker-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
       <maxFileSize>1MB</maxFileSize>
       <maxHistory>1</maxHistory>
       <totalSizeCap>2MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <appender name="REST-API" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>rest-api.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>rest-api-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
       <maxFileSize>5MB</maxFileSize>
       <maxHistory>3</maxHistory>
       <totalSizeCap>20MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg - MDC{ %mdc }%n</pattern>
    </encoder>
  </appender>
  <logger name="rest-api" level="info">
    <appender-ref ref="REST-API" />
  </logger>
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ROLLING" />
  </root>
</configuration>
